{% load static %}
{% load staticfiles %}
{% if detail %}
<p> {{detail}} </p>
{% endif %}

<script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="{% static 'js/blog_detail.js' %}">
</script>