
{% extends "pages/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
   <section class="hero" id="hero">
     {% include "pages/partials/header.html" %}
     <div class="container">
            <div class="header-table">
                <div class="header-wrapper">
                        <h1 class="header-title">More Than Just A Rent</h1>
                    </h1>
            </div>
        </div> <!-- /.container -->
   </section>
   <section id="listing" class="listing">
     {% for apt in apt %}
        <div class="row" style="padding-left: 5%;">
           <div class="col-12" style="padding-top: 2.5%; width:100%">
               <h1 class="whath1 col-md-6" style="text-align: left;">{{apt.name}}</h1>
               <div style="right:0vw;" class="col-md-6">
               <div style="margin-top:7.5%; right:0vw" class="readmore">
               <div style="vertical-align: middle;" class="readmore-wrapper">
                           <a href="{% url 'pages:apartment' apt.id %}" style="color:white; text-decoration:none;"><p>Semua Kamar di Apartment ini</p></a>
                       </div>
                     </div>
           </div>
           </div>
                  </div>
           <div style="padding-left: 5%; padding-right: 5%; padding-bottom: 1%;" class="slider">
                {% for i in apt.room_set.all %}
  <div class="card">
    <div class="crop">
          <img src="{{i.images.first.image.url}}" style="width:100%">
    </div>
  <div class="container" style="min-height: 32vh;">
    <h4 style="font-size: 4vh; text-align: center;" class="whath1"><b>{{ i.apartment.name }}  {{i.no}}</b></h4>
    <p style="font-size: 2vh;" class="pWhy">{{ i.descTextbox }}</p>
  </div>
  <a href="{% url 'pages:room' i.id %}" class="selengkapnyaWrapper">
          <p class="sButton">Baca Selengkapnya</p>
  </a>
</div>
                {% endfor %}
            </div>

        {% endfor %}
   </section>

<style type="text/css">
#map {
        height: 60vh;  /* The height is 400 pixels */
       }
.divWrap {
  padding: 5% 5% 5%;
}
.wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
.wrapper td {
   vertical-align: middle;
   text-align: center;
}

html,body
{
    overflow-x: hidden;
}

section {
    padding-right: 0;
    margin-right: 0;
    width:100vw;
}

.heroOverlay {
  background-color:rgba(0, 0, 0, 0.5);
  height: 100vw
}

    .hero
{
    background: url('{% static 'assets/hero.png' %}');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    -o-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -webkit-background-attachment: fixed;
    height: 50vh;
    color: #FFF;


}
    .about
{
    background-color: #FFF;
    padding-bottom: 5%;

}
    .why
{
    background-color: #F3F3F3;

}
.header-wrapper {
position: absolute;
left: 5%;
top: 30vh;
margin-right: 5%;
}
.header-title {
font-family: Open Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 4.5vw;
color: #FAFAFA;
}
.header-subtitle {
    position: absolute;
width: 257px;
height: 40px;
background: #F1F1F1;
opacity: 0.8;
border-radius: 60px;
}
.subtitle-wrapper {
    display: inline-block;
margin-top: 3%;
margin-left: 8%;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
color: #121212;
}
.arrow {
    width: 7%;
}

.logo-left {
    max-width: 100%;
    height: auto;
    padding-left: 15%;
    padding-top: 15%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.whath1{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 4vw;

color: #121212;
}
.whatp {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: justify;
}
.whatwrapper {
    padding-top: 5%;
    padding-right: 5%;
}
.pWhy {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: center;
color: #121212;
}

.pTesti {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
text-align: justify;
font-size: 12pt;
color: #121212;
}

.sButton {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: center;
font-size: 2vh;
padding: 3% 3% 3% 3%;
color: #999999;
}

.sButton:hover {
    font-family: Roboto;
font-style: bold;
font-weight: bold;
line-height: normal;
font-size: 12pt;
text-align: center;
font-size: 2vh;
padding: 3% 3% 3% 3%;
}

.readmore{
width: 306px;
height: 40px;
background: #000;
border-radius: 60px;
{% comment %} margin-left: 20%; {% endcomment %}
float:right;
margin-right : 12%;
}

.readmore-wrapper {
    display: inline-block;
margin-top: 3.5%;
margin-left: 15%;
text-align: center;
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: normal;
font-size: 16px;
color: #FFF;
}
.hWhy {
    text-align: center;
    font-family: Open Sans;
    font-style: bold;
    font-weight: normal;
    line-height: normal;
    font-size: 3vw;
    color: #121212;
}
.card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30vw;
    min-height: 60vh;
    border-radius: 3%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.crop {
    height: 50%;
    overflow: hidden;
}
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width: 100%;
}
.selengkapnyaWrapper {
    border-top: 2px solid #CCCCCC;
}
.selengkapnyaWrapper:hover {
    background: #F3F3F3;
    border-top: 2px solid #F3F3F3;
}
.slick-slide {
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.roleText{
  font-family: Open Sans;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
  font-size: 1.5vw;
color: #3C7BBE;
}
.footerLinks {
font-family: Roboto;
font-style: normal;
font-weight: 100;
color: #FAFAFA;
}
.slick-list > .slick-track {
    margin-left:0;
}
@media only screen and (max-width:480px) {
    .readmore{
        width: 180px;
        height: 20px;
        background: #000;
        border-radius: 30px;
        {% comment %} margin-left: 20%; {% endcomment %}
        float:left;
        margin-right : 12%;
        margin-bottom:2%;
    }
    .readmore-wrapper {
        display: inline-block;
        margin-top: 1.9%;
        margin-left: 12.8%;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-size: 10px;
        color: #FFF;
    }
}

@media only screen and (max-width: 768px) {
.roleText {
  text-align: center;
}
.pTesti {
  text-align: center;
}
.whatwrapper {
    padding-left: 5%;
    padding-right: 5%;
    align-self: center;
}

.header-title {
font-family: Open Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 7vw;
color: #FAFAFA;
}
}
@media only screen and (max-width: 1000px) {
    .readmore{
        width: 230px;
        height: 30px;
        background: #000;
        border-radius: 30px;
        {% comment %} margin-left: 20%; {% endcomment %}
        float:left;
        margin-right : 12%;
        margin-bottom:2%;
    }
    .readmore-wrapper {
        display: inline-block;
        margin-top: 2.5%;
        margin-left: 8%;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-size: 15px;
        color: #FFF;
    }
    .whath1{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 4vw;

color: #121212;
}
}
a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none !important;
}
{% comment %} 
.whath1{
    font-family: Open Sans;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 8vw;

    color: #121212;
} {% endcomment %}
.logo-left {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-right: 15%;
}
.hWhy {
  text-align: center;
    font-family: Open Sans;
    font-style: bold;
    font-weight: normal;
    line-height: normal;
    font-size: 8vw;
    color: #121212;
}
.helper {
    display: inline-block;
    height: 100%;
}
</style>
<script>
$(document).ready(function(){
 $('.slider').slick({
speed: 300,
slidesToShow: 3,
slidesToScroll: 4,
autoplay: true,
autoplaySpeed: 3000,
responsive: [
{
 breakpoint: 1024,
 settings: {
   slidesToShow: 3,
   slidesToScroll: 3,
 }
},
{
 breakpoint: 600,
 settings: {
   slidesToShow: 1,
   slidesToScroll: 1
 }
},
{
 breakpoint: 480,
 settings: {
   slidesToShow: 1,
   slidesToScroll: 1
 }
}
// You can unslick at a given breakpoint now by adding:
// settings: "unslick"
// instead of a settings object
]
 });
});

</script>
{% endblock %}
