
{% extends "pages/layout/base.html" %}
{% load humanize %}
{% load l10n %}
{% load staticfiles %}
{% load static %}
{% block content %}
   <section class="hero" id="hero">
     {% include "pages/partials/header.html" %}
     <div class="container">
            <div style="margin-top:20vh;" class="header-table">
                <div class="header-wrapper">
                  <div class="header-subtitle">
                  <a href="{% url 'pages:katalog' %}" class="subtitle-wrapper">
                      <p>Kembali<img class="arrow" src="{% static 'assets/left-arrow.svg' %}" style="width:7%;"></p>
                  </a>
              </div>
                    <h1 class="header-title">{{room.apartment.name}} {{room.no}}</h1>
            </div>
          </div>
        </div> <!-- /.container -->
   </section>
 <section id="room-pic" class="room-pic">
        <div class="row" style="padding-left: 5%;">
           <div class="col-12" style="padding-top: 2.5%; padding-left: 5%;">
           </div>
                  </div>
           {% if room %}
           <div style="padding-left: 5%; padding-right: 5%; padding-bottom: 1%;" class="slider">
                {% for i in room.images.all %}
          <img src="{{i.image.url}}" width:100>
                {% endfor %}
            </div>
                {% endif %}
   </section> 


  <section id="detail" class="divWrap">
    <h2 class="whyh2">Detail Kamar</h2>
    <div class="row">
    <div class="col-md-8">

    <!--detail of the room -->
        {% if room%}
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row" class="col-md-2 detail-text">No</th>
                    <td class="col-md-6 detail-text">{{room.no}}</td>
                </tr>
                <tr>
                    <th scope="row" class="col-md-2 detail-text" >Apartment</th>
                    <td class="col-md-6 detail-text">{{room.apartment.name}}</td>
                </tr>
                <tr>
                    <th scope="row" class="col-md-2 detail-text">Tower</th>
                    <td class="col-md-6 detail-text">{{room.tower}}</td>
                </tr>
                <tr>
                    <th scope="row" class="col-md-2 detail-text" >Floor</th>
                    <td class="cold-md-6 detail-text">{{room.floor}}</td>
                </tr>
                <tr>
                    <th scope="row" class="col-md-2 detail-text">Description</th>
                    <td class="col-md-6 detail-text">{{room.descTextbox}}</td>
                </tr>
                <tr>
                    <th scope="row" class="col-md-2 detail-text">Facilites</th>
                    <td class="col-md-6 detail-text">
                    {% comment %} {{room.facility.all}} {% endcomment %}
                    {% for fac in room.facility.all %}
                    <div class="col-sm-4">
                    {{fac.image.url}}  {{fac.facilityTextbox}}</div>
                    
                    {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
        {% endif %}
        
        
    
    </div>
  <div class="priceBox col-md-4" style="padding-top:2rem; padding-bottom:2rem;">
      <h4 style="font-weight:bold;"> Price Starts From </h4>
        {% localize on %}
      <h2 class="price">Rp {{room.pricePlaceholder | intcomma | localize }},-</h2>
      {% endlocalize %}
      <div class="contact-detail" style="margin-top:2.5rem;">
        <h4 style="font-weight:bold;"> Contact MAHASEWA</h4>
       
       <div class="contact-icon" style="margin-bottom:1rem;"><img src="{% static 'assets/black/WhatsApp.svg' %}"> <h5 style="display:inline-block; margin-left:1rem;">+62 815 8653 7438</h5></div>
       <div class="contact-icon" style="margin-bottom:1rem;"><img src="{% static 'assets/black/Line.svg' %}"> <h5 style="display:inline-block; margin-left:1rem;"> @dwu2413c</h5></div>
       <div class="contact-icon" style="margin-bottom:1rem;"><img src="{% static 'assets/black/Instagram.svg' %}"> <h5 style="display:inline-block; margin-left:1rem;">mahasewa.id</h5></div>
       <div class="contact-icon" style="margin-bottom:1rem;"><img src="{% static 'assets/black/Facebook.svg' %}"> <h5 style="display:inline-block; margin-left:1rem;">mahasewa.id</h5></div>
       <div class="contact-icon" style="margin-bottom:1rem;"><img src="{% static 'assets/black/Twitter.svg' %}"> <h5 style="display:inline-block; margin-left:1rem;">mahasewa.id</h5></div>
       
        </div>
    </div>
  </section>
  <!--List kamar kamar lain-->
  <section class="divWrap" id="kamarlain" style="padding-top:0 !important;">
    
  </section>


{% if room_lain and room_lain.apartment.name != room.apartment.name%}
    <section id="listing" class="listing" style="background-color: #fff; padding-bottom:.6rem;">
        <div class="row" style="padding-left: 5%;">
           <div class="col-12" style="padding-top: 2.5%; padding-left: 5%;">
               <h1 class="whath1" style="text-align: left;">Lihat kamar lainnya</h1>
           </div>
                  </div>
           
           <div style="padding-left: 5%; padding-right: 5%; padding-bottom: 1%;" class="slider">
                {% for i in room_lain %}
  <div class="card">
    <div class="crop">
          <img src="{{i.images.first.image.url}}" style="width:100%">
    </div>
  <div class="container" style="min-height: 32vh;">
    <h4 style="font-size: 4vh; text-align: center;" class="whath1"><b>{{ i.apartment.name }}  {{i.no}}</b></h4>
    <p style="font-size: 2vh;" class="pWhy">{{ i.descTextbox }}</p>
  </div>
  <a href="{% url 'pages:room' i.id %}" class="selengkapnyaWrapper">
          <p class="sButton">Baca Selengkapnya</p>
  </a>
</div>
                {% endfor %}
            </div>
               
   </section>
 {% endif %}

<style type="text/css">
.divWrap {
  padding: 5% 5% 5%;
}
a, a:hover {
    text-decoration: none !important;
}

.wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
.wrapper td {
   vertical-align: middle;
   text-align: center;
}

html,body
{
    overflow-x: hidden;
}
#listing {
    height : 100%;
}
section {
    padding-right: 0;
    margin-right: 0;
    width:100vw;
}
.whyh2 {
    font-family : Open Sans;
    font-size: 3rem;
    font-weight : bold;
}
    .hero
{
    background: url({% static 'assets/roomHero.png' %});
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vw 50vh;
    -o-background-size: 100vw 50vh;
    -moz-background-size: 100vw 50vh;
    -webkit-background-size: 100vw 50vh;
    height: 50vh;
    color: #FFF;


}
    .about
{
    background-color: #FFF;
    padding-bottom: 5%;

}
.detail-text {
    font-size : 1.7rem;
}
    .why
{
    background-color: #F3F3F3;
}
.price {
  color: #5AACDF;
  font-family: Open Sans;
  font-weight: bold;
}
.header-wrapper {
margin-left: 5%;
top: 15vh;
margin-right: 5%;
}
.header-title {
font-family: Open Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 4.5vw;
color: #FAFAFA;
}
.priceBox {
  background: rgba(196, 196, 196, 0.15);
}
.header-subtitle {
width: 257px;
height: 40px;
background: #F1F1F1;
opacity: 0.8;
border-radius: 60px;
}
.subtitle-wrapper {
    display: inline-block;
margin-top: 3%;
margin-left: 8%;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
color: #121212;
}
.arrow {
    width: 7%;
}

.logo-left {
    max-width: 100%;
    height: auto;
    padding-left: 15%;
    padding-top: 15%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.whath1{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
 font-size:3vw;

color: #121212;
}
.whatp {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: justify;
}
.whatwrapper {
    padding-top: 5%;
    padding-right: 5%;
}
.pWhy {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: center;
color: #121212;
}

.pTesti {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
text-align: justify;
font-size: 12pt;
color: #121212;
}

.sButton {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
text-align: center;
font-size: 2vh;
padding: 3% 3% 3% 3%;
color: #999999;
}

.sButton:hover {
    font-family: Roboto;
font-style: bold;
font-weight: bold;
line-height: normal;
font-size: 12pt;
text-align: center;
font-size: 2vh;
padding: 3% 3% 3% 3%;
}

.readmore{
width: 183px;
height: 28px;
background: #000;
border-radius: 60px;
margin-bottom: 5%;
}
.readmore-wrapper {
    display: inline-block;
margin-top: 3%;
margin-left: 10%;
text-align: center;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12pt;
color: #FFF;
}
.hWhy {
    text-align: center;
    font-family: Open Sans;
    font-style: bold;
    font-weight: normal;
    line-height: normal;
    font-size: 3vw;
    color: #121212;
}

.card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    min-height: 60vh;
    border-radius: 3%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.crop {
    height: 50%;
    overflow: hidden;
}
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width: 100%;
}
.selengkapnyaWrapper {
    border-top: 2px solid #CCCCCC;
}
.selengkapnyaWrapper:hover {
    background: #F3F3F3;
    border-top: 2px solid #F3F3F3;
}
.slick-slide {
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.roleText{
  font-family: Open Sans;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
  font-size: 1.5vw;
color: #3C7BBE;
}
.footerLinks {
font-family: Roboto;
font-style: normal;
font-weight: 100;
color: #FAFAFA;
}
@media only screen and (max-width: 768px) {
  #map {
          height: 40vh;  /* The height is 400 pixels */
         }
.roleText {
  text-align: center;
}
.pTesti {
  text-align: center;
}
.whath1 {
     font-size:6vw;
}
.whatwrapper {
    padding-left: 5%;
    padding-right: 5%;
    align-self: center;
}
.whath1{
    font-family: Open Sans;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 8vw;

    color: #121212;
}
.header-title {
font-family: Open Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 10vw;
color: #FAFAFA;
}
.logo-left {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-right: 15%;
}
.hWhy {
  text-align: center;
    font-family: Open Sans;
    font-style: bold;
    font-weight: normal;
    line-height: normal;
    font-size: 8vw;
    color: #121212;
}
.helper {
    display: inline-block;
    height: 100%;
}
</style>
<script>

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjUOuIW-eL9C2vu_srbQuY9KVepLoEUIs&callback=initMap">
</script>
<script>
$(document).ready(function(){
 $('.slider').slick({
speed: 300,
slidesToShow: 3,
slidesToScroll: 4,
autoplay: true,
autoplaySpeed: 3000,
responsive: [
{
 breakpoint: 1024,
 settings: {
   slidesToShow: 3,
   slidesToScroll: 3,
 }
},
{
 breakpoint: 600,
 settings: {
   slidesToShow: 1,
   slidesToScroll: 1
 }
},
{
 breakpoint: 480,
 settings: {
   slidesToShow: 1,
   slidesToScroll: 1
 }
}
// You can unslick at a given breakpoint now by adding:
// settings: "unslick"
// instead of a settings object
]
 });
});

</script>
{% endblock %}
